# Build & Publish Outputs
[Bb]in/
[Oo]bj/
*.zip

# User / IDE Specific Settings
.vs/
.vscode/
*.user
*.suo

# Operating System Files
.DS_Store
Thumbs.db
/.idea/.idea.ClientOnboardingLambda.dir/.idea/encodings.xml
/.idea/.idea.ClientOnboardingLambda.dir/.idea/indexLayout.xml
/.idea/.idea.ClientOnboardingLambda.dir/.idea/vcs.xml
